* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
  
:root {
    font-size: 62.5%;
    
    --ff-primary: 'Mulish', sans-serif;
    --text-color: #ffffff;

}

body{
   font-size: 1.6rem;
   color: var(--text-color);
   background-color: #141414;
    
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

#app {
  padding: 2rem;
  
  margin: 2.5rem ;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h1 {
    display: flex;
    align-items: center;
}

.search{
    display: flex;
    align-items: center;
    gap: 1.6rem;

}

.search input{
    width: 32rem;
    height: 3.2rem;
    
    border: 1px solid #303030;
    border-radius: .5rem;
    padding: 0 .8rem;

    color: #ffffff;

    background-color: #2985a134;

}

.search button{
    width: 16rem;
    height: 3.2rem;
    background-color: #2985a1;

    color: var(--text-color);
    font-size: 1.2rem;
    font-weight: bold;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: .8rem;

    border: 1px solid #303030;
    border-radius: .5rem;
    padding: 0 .8rem;

    cursor: pointer;


}

.search button:hover {
    filter: brightness(1.1)
 }

table {
    margin-top: 4.8rem;

    width: 100%;
    border-collapse: collapse;
  
    box-shadow: 0 1rem 2rem -1rem rgba(0, 0, 0, 0.3);
    
  }
  
table * {
    font-size: 1.4rem;
    color: var(--text-color);
}
  
table th {
    background: #2985a1;
    text-align: left;
    font-weight: normal;
    padding: 1.5rem;
  }
  
  table th:first-child {
    border-top-left-radius: .4rem;
  }
  
  table th:last-child {
    border-top-right-radius: .4rem;
  }
  
  table tr:nth-child(even) {
    background: #141414;
  }
  
  table tr:nth-child(odd) {
    background: #2985a134;
  }
  
  table td {
    padding: 1.5rem;
    text-align: left;

    
    

  }
  
  td.user {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  
  
  td.user img {
    width: 5rem;
    height: 5rem;
  
    object-fit: cover;
    border-radius: 50%;
  }
  
  td.user a {
    text-decoration: none;
  }
  
  td.user a p {
    font-weight: bold;
  }
  
  td .remove {
    background: none;
    border: none;
  
    color: red;
  
    cursor: pointer;
  }